<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>SpotifyClientID</key>
	<string>76a675416313462c92babb568e064676</string>
	<key>SpotifyClientSecret</key>
	<string>25cb1fc758d14074be471a1c3cb45349</string>
	<key>SpotifyRedirectURI</key>
	<string>http://localhost:3000/callback</string>
</dict>
</plist>
